div.site-meta
    .custom-logo-site-title
        a(href='/', rel='start').brand
            span.logo-line-before: i
            span.site-title= site.title
            span.logo-line-after: i
    if site.configs.sub_title
        p.site-subtitle= '坚持做正确的事'

.site-nav-toggle
    button
        span.btn-bar
        span.btn-bar
        span.btn-bar

.site-nav
    ul#menu.menu
        li.menu-item.menu-item-home
            a(href='/', rel='section')
                i.menu-item-icon.fa.fa-fw.fa-home
                span 首页
        li.menu-item.menu-item-archive
            a(href='/archive', rel='section')
                i.menu-item-icon.fa.fa-fw.fa-archive
                span 归档
        //- li.menu-item.menu-item-archive
        //-     a(href='/tag/node', rel='section')
        //-         i.menu-item-icon.fa.fa-fw.fa-code
        //-         span Node
        //- li.menu-item.menu-item-archive
        //-     a(href='/tag/tool', rel='section')
        //-         i.menu-item-icon.fa.fa-fw.fa-wrench
        //-         span tools
        //- li.menu-item.menu-item-archive
        //-     a(href='/tag/read', rel='section')
        //-         i.menu-item-icon.fa.fa-fw.fa-book
        //-         span 读书
        //- i.menu-item.menu-item-archive
        //-     a(href='/tag/随笔', rel='section')
        //-         i.menu-item-icon.fa.fa-fw.fa-coffee
        //-         span 随笔
        li.menu-item.menu-item-archive
            a(href='/tag/关于我', rel='section')
                i.menu-item-icon.fa.fa-fw.fa-user
                span 关于我