div.site-meta
    .custom-logo-site-title
        a(href='/', rel='start').brand
            span.logo-line-before: i
            span.site-title= site.title
            span.logo-line-after: i
    if site.configs.sub_title
        p.site-subtitle= '坚持做正确的事'

.site-nav-toggle
    button
        span.btn-bar
        span.btn-bar
        span.btn-bar

.site-nav
    ul#menu.menu
        li.menu-item.menu-item-home
            a(href='/', rel='section')
                i.menu-item-icon.fa.fa-fw.fa-home
                span 首页
        li.menu-item.menu-item-archive
            a(href='/archive', rel='section')
                i.menu-item-icon.fa.fa-fw.fa-archive
                span 归档
        li.menu-item.menu-item-archive
            a(href='/category/read', rel='section')
                i.menu-item-icon.fa.fa-fw.fa-book
                span 读书
        li.menu-item.menu-item-archive
            a(href='/category/life', rel='section')
                i.menu-item-icon.fa.fa-fw.fa-coffee
                span 随感
        li.menu-item.menu-item-archive
            a(href='/category/tech', rel='section')
                i.menu-item-icon.fa.fa-fw.fa-code
                span 技术
        li.menu-item.menu-item-archive
            a(href='/category/tools', rel='section')
                i.menu-item-icon.fa.fa-fw.fa-wrench
                span Tools
        li.menu-item.menu-item-archive
            a(href='/category/about', rel='section')
                i.menu-item-icon.fa.fa-fw.fa-user
                span 关于我